@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    //Primary Color
    --Strong-cyan: hsl(172, 67%, 45%);

    //Neutral Colors
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    background: var(--Light-grayish-cyan);
}

.active {
    border: 1px solid red;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.attribution {
  font-size: .68rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.screen-loading {
    width: 100%;
    height: 100vh;
    background: var(--Very-dark-cyan);
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-loading {
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--White);
        animation: bar-loading 3s ease forwards;
    }
}

@keyframes bar-loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.btn {
    width: 100%;
    padding: 1.4rem 1rem;
    background: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    border-radius: .4rem;
    cursor: pointer;
    &:hover  {
        background: var(--Light-grayish-cyan);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
        background: var(--Very-dark-cyan);
        padding: .4rem 2rem;
        color: var(--White);
        border-radius: 5%;
    }
    input[type=radio]{
        display: none;
        
    }
    input:checked + label {
        background: var(--Light-grayish-cyan);
        color: var(--Very-dark-cyan);
    }
}