@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: var(--Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.active {
  border: 2px solid red;
}

.flex {
  display: flex;
}
.flex label p {
  font-size: 0.8rem;
  color: var(--White);
}
.flex label span {
  font-size: 0.6rem;
  color: var(--Very-light-grayish-cyan);
}

.fex-2 {
  flex: 2;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.attribution {
  font-size: 0.68rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.screen-loading {
  width: 100%;
  height: 100vh;
  background: var(--Very-dark-cyan);
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-loading {
  width: 120px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.bar-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--White);
  animation: bar-loading 3s ease forwards;
}

@keyframes bar-loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  background-color: var(--White);
  border-radius: 1.2rem;
  padding: 1rem;
}

.content {
  flex: 1;
  margin: 0 1.4rem;
}
.content h2, .content p {
  font-size: 1rem;
  font-weight: 400;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.forms input[type=text] {
  width: 100%;
  text-align: right;
  padding: 0.4rem;
  font-weight: bold;
  background: var(--Very-light-grayish-cyan);
  padding: 0.6rem 1rem;
  color: var(--Dark-grayish-cyan);
  border: none;
  border-radius: 5%;
}

.btn {
  width: 100%;
  padding: 0.8rem 1rem;
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  margin-top: 4rem;
}
.btn:hover {
  background: var(--Light-grayish-cyan);
}

.card-grid {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-item label {
  background: var(--Very-dark-cyan);
  padding: 0.4rem 2rem;
  color: var(--White);
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.card-item label:hover {
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.card-item input[type=text] {
  background: var(--Light-grayish-cyan);
  padding: 0.4rem 2rem;
  color: var(--Dark-grayish-cyan);
  font-weight: bold;
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}
.card-item input[type=text]::-moz-placeholder {
  font-size: 0.6rem;
  color: var(--Dark-grayish-cyan);
  font-weight: bold;
}
.card-item input[type=text]::placeholder {
  font-size: 0.6rem;
  color: var(--Dark-grayish-cyan);
  font-weight: bold;
}
.card-item input[type=radio] {
  display: none;
}
.card-item input:checked + label {
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.sidebar {
  background: var(--Very-dark-cyan);
  flex: 1;
  margin: 0.8rem;
  padding: 2rem;
  border-radius: 1.2rem;
}

#tipamount, #total {
  font-size: 3rem;
  color: var(--Strong-cyan);
  background: transparent;
  border: none;
  text-align: right;
  width: 100%;
  height: 100%;
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}
#tipamount::-moz-placeholder, #total::-moz-placeholder {
  color: var(--Strong-cyan);
  font-weight: bold;
}
#tipamount::placeholder, #total::placeholder {
  color: var(--Strong-cyan);
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */